<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Edit Post')"></head>
</head>
<body style="background-color: #bcbcbf">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="m-5">
    <form th:action="${'/posts/' + post.ID + '/edit'}" th:method="post" th:object="${post}">
        <div class="form-group">
            <label for="title">Title: </label><br>
            <input type="text" class="col-md-12" th:field="*{title}" />
        </div>
        <div class="form-group">
            <label for="body">Body:</label>
            <textarea class="form-control" rows="3" th:field="*{body}" />
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">2</label>
        </div>
        <br>
        <button class="btn btn-light mt-3">Save Changes</button>
        <button form="delete-form" class="btn btn-danger mt-3">Delete Post</button>
    </form>
    <form id="delete-form" th:action="${'/posts/' + post.ID + '/delete'}" th:method="POST">
    </form>
</div>
</body>
</html>