<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Single Post')"></head>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div>
    <form th:action="${'/posts/' + post.ID + '/edit'}" th:method="POST" th:object="${post}">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}"><br>
        <label for="body">Body</label>
        <input type="text" th:field="*{body}"><br>
        <button class="btn btn-light">Save Changes</button>
    </form>
    <form th:action="${'/posts/' + post.ID + '/delete'}" th:method="POST">
        <button class="btn btn-danger">Delete Post</button>
    </form>
</div>
</body>
</html>