<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header('Single Post')"></head>
</head>
<body style="background-color: lightgray">
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="row justify-content-center">
    <div class="card text-center m-5 border-secondary" style="width: 18rem;">
        <div class="card-body p-0">
            <div class="card-header" style="font-weight: bold" th:text="${post.title}"></div>
            <p class="card-text my-3 px-2" th:text="${post.body}"></p>
            <div>Created by: <span th:text="${post.owner.username}"></span></div>
        </div>
        <form class="my-2" th:action="${'/posts/' + post.ID + '/edit'}" th:method="GET" sec:authorize="isAuthenticated()">
            <button class="btn btn-secondary">Edit Post</button>
            <button form="delete-form" class="btn btn-danger">Delete Post</button>
        </form >
        <form id="delete-form" class="" th:action="${'/posts/' + post.ID + '/delete'}" th:method="POST" sec:authorize="isAuthenticated()">
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <form th:action="${'/posts/'}" th:method="GET">
        <button class="btn btn-secondary">View All Posts</button>
    </form>
</div>
</body>
</html>